<header class = "mainHeaderContainer">
    {{!-- <div class="githubLinkLogo">
        <div class = "gitHubLogo">
            <a href = "https://github.com/osu-cs290-f20/final-project-team-55">
                <img src="gitHubLogo.png" alt="gitHub Logo">
            </a>
        </div>
    </div> --}}
    <div class="headerContainer" id="headerContainerID">
        <div class = "header-image-container">
            <img src="frameicon64.png" alt = "Borderify Logo">
        </div>
        <h1 class ="site-title"><a href="#">Borderify</a></h1>
    </div>
</header>