<!DOCTYPE html>
<html>
    <head>
        <meta charset ="utf-8">
        <title>Borderify - Add borders to your photos!</title>
        <link rel="stylesheet" href = "index.css">
        <!-- Have this now for later-->
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>
        <script src = "newButton.js" charset= "utf-8" defer></script>
        <script src = "index.js" charset="utf-8" defer></script>
    </head>
    <body>
        <!-- Header Tag -->
        <header>
            <div class="githubLinkLogo">
                <div class = "gitHubLogo">
                    <a href = "https://github.com/osu-cs290-f20/final-project-team-55">
                        <img src="gitHubLogo.png" alt="gitHub Logo">
                    </a>
                </div>
            </div>
            <div class="headerContainer" id="headerContainerID">
                <div class = "header-image-container">
                    <img src="frameicon64.png" alt = "Borderify Logo">
                </div>
                <h1 class ="site-title"><a href="#">Borderify</a></h1>
            </div>
        </header>
       
        <!-- calls body from server.js to retrieve from other handlebar files in the /views dir-->
        
        {{{body}}}

        <footer>
            <div class = "footerdiv"></div>
        </footer>
       
    </body>

        

</html>