<section class = "imageAndSelectionContainer">
    <div class="borderImageContainer" id = "borderImageID">
        <div id="borderForPic">
            <div class = "borderImage" id="borderImageUsrPic">
                <!-- Input for image-only files. -->
                <!-- GOAL: Take that input, store it in index.js and create a new dom where borderImage should be. 
                        - Make sure to set width to 100% to fill the borderImage container -->
                <p id = "websiteIntro">Welcome to the website, Borderify! Click anywhere here to add a photo!</p>
                <input type="file" id = "imgUsrFile" accept="image/png, image/jpeg"/>
            </div>
        </div>
    </div>
    <div class="borderSelection">
        <div id = "menu">
            <!--  Calls function openTab to open tab and hide other tab; return false to prevent page jump on anchor click-->
            <a href="#" class = "tablinks" onclick="openTab(event, 'colorTab'); return false" ><h2>Colors</h2></a>
            
            <!-- Goal is for the images Tab is to pull stock images from buttonData.json or a new *Data.json file to create buttons for the imageSelection 
            to be then implemented similarly to how each color button works -->
            <a href="#" class = "tablinks" onclick="openTab(event, 'imageTab'); return false" id="defaultOpen" ><h2>Images</h2></a>
        </div>
        
        <div class = "buttonGroup">
        <div id="colorTab" class="tabcontent">
                <!--UPDDATE FOR IMAGES WHEN CREATED 
                <div id="imageTab" class="tab-content">IMAGE tab contents here</div> -->

                <div class="borderTransition" id= "buttonDiv">
                    <!-- Loops through each button from buttonData and creates a new button from the template -->
                    {{#each buttonDiv}}
                        {{>buttonTemplate}}  
                    {{/each}}    
                </div>
                <div class ="colorPickerButton" id="colorPickerButtonID">
                        <label for="colorpicker" id="colorpickerLabel"><span id ="clrpickerspan">Pick your own color!: </span></label>
                        <input type="color" id="colorpicker" value="#FFFFFF">
                </div>
            </div>

            <div class="tabcontent" id="imageTab">
                <div class="borderTransition" id = "imgButtonDiv">
                    {{#each imgButtonDiv}}
                        {{>imgbuttonTemplate}}
                    {{/each}}
                </div>
            </div>
            
            

        </div>
        
    </div>
      
</section>


