
<section>
    <div class="borderImageContainer" id = "borderImageID">
        <div>
            <div class = "borderImage">
                <!-- Input for image-only files. -->
                <!-- GOAL: Take that input, store it in index.js and create a new dom where borderImage should be. 
                        - Make sure to set width to 100% to fill the borderImage container -->
                <p id = "websiteIntro">Welcome to the website, Borderify! Click anywhere here to add a photo!</p>
                <input type="file" id = "imgUsrFile" accept="image/png, image/jpeg"/>
            </div>
        </div>
    </div>
    <div class="borderSelection">

        <!--  Calls function openTab to open tab and hide other tab; return false to prevent page jump on anchor click-->
        <a href="#" class = "tablinks" onclick="openTab(event, 'colorTab'); return false" ><h2>Colors</h2></a>

        <!-- Goal is for the images Tab is to pull stock images from buttonData.json or a new *Data.json file to create buttons for the imageSelection 
        to be then implemented similarly to how each color button works -->
        <a href="#" class = "tablinks" onclick="openTab(event, 'imageTab'); return false" id="defaultOpen" ><h2>Images</h2></a>
    </div>

    <div class = "buttonGroup tabcontent" id="colorTab">
        <div class="borderTransition" id= "buttonDiv">
            <!-- Loops through each button from buttonData and creates a new button from the template -->
            {{#each buttonDiv}}
                    {{>buttonTemplate}}  
            {{/each}} 
        </div>
    </div>   

    <!-- contents of images tab -->
    <div class = "imageGroup tabcontent" id="imageTab">
        <div class="borderTransitionImage" id= "imageDiv">
            {{#each buttonDiv}}
                    {{>buttonTemplate}}  
            {{/each}} 
        </div>
    </div>    

        </div>
    </div>
</section>


