/* Font Setup */
@font-face {
  font-family: Brush Script MT;
  src: url(brush-script-mt/brush\ script\ mt\ kursiv.ttf);
}

/* Typography */
html { 
  background: rgb(255,255,255); 
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(188,190,255,1) 45%, rgba(255,100,100,1) 100%);
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  height: 100%;
  width: 100%;
}

h1,h2,h3,h4,p{
  margin: 0;
}

header{
  display: flex;
  padding-top: 10px;
  padding-bottom: 50px;
}

a{
    color: black;
    text-decoration: none;
}
img{
  display:block;
  max-width: 100%;
}
h1{
  font-size: 75px;
  line-height:0.8;
}
h2{
  font-size: 30px;
  line-height:0.8;
}


/* Home Page */
    /* Github Logo */
    .gitHubLogo img{
      padding-left: 50px;
      max-width: 80px;
    }

    /* Header CSS */
.headerContainer{
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding-right: 130px;

}

.site-title{
  display: inline-block;
  padding-left: 8px;
  font-family: 'Brush Script MT', cursive;
  font-weight: lighter;
}

.site-title a:hover{
  color: #251f1f;
}




/* Body with the image */


.borderImageContainer{
  margin: 0 auto;
  height: 350px;
  width: 150px;
  border-radius: 25px;
  padding-left: 400px;  
  padding-top: 50px;

  background-size: 100%;
  background-position: center;

}

    /* nested div inside borderImageContainer */
.borderImage{
  margin-right: 70px;
  margin-left: -330px;
  height: 300px;
  width: 400px;
  background-color: white;
  border-radius: 25px;
  text-align: center;
  position: relative;
}

#borderImageID{
  background-color: pink;
}
      /*paragraph inside div to say where to click to add photo file */
#websiteIntro{
  position:absolute;
  margin: 0 auto;
  padding: 50px 10px;
  font-size: 40px;
  font-family: 'Brush Script MT';
  font-weight: lighter;
  line-height: 1.3;
}
      /*the inputFile ID with CSS that mirrors the container's dimensions so anywhere clicked in the container will prompt for an image file */
#imgUsrFile{
  text-align: center;
  margin-right: 70px;
  margin-left: -200px;
  height: 300px;
  width: 400px;
  color: whitesmoke;
  opacity: 0;
  position:absolute;
}

/* Div Border Selection CSS. Alignment and etc for either Color/Image choice for user */
.borderSelection div{
  text-align: center;
  font-family: 'Brush Script MT', cursive;
  font-weight: lighter;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 5px;
}
    /* Changed font size & weight of both the color selection and the image selection h2 tags*/
.borderSelection h2{
  /* Add new stuff*/
  font-size: 55px;
  font-weight: lighter;
  line-height: 1em;
}

/* Container for container that holds all the buttons with the border selections! */
.buttonGroup{
  margin: 0 auto;
  text-align: center;
  height: auto;
  width: 60%;
  padding-bottom: 50px;
}

/* Selection is the class assigned to each button */
.selection{ 
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 150px;
  width: 150px;
  margin: 10px auto;
}
/* all the button's share the same container : borderTransition, the css here that styles each button * houses them */
.borderTransition{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: -25%;
  height: 100%;
  width: 100%;
  border-radius: 2px;
  border: 2px solid black;
}





/* Footer Div */
.footerdiv{
  height: 300px;
  width: auto;
  margin-bottom: 50px;
}

/* 404 Error CSS */
.error-container {
  font-family: "Brush Script MT", serif;
  font-weight: 100;
  text-align: center;
}

.error-container h2 {
  font-size: 144px;
  letter-spacing: 2px;
}

.error-container h3 {
  font-size: 90px;
  letter-spacing: 2px;
}



/* Tabs styling */
.tab-content {
  display: none;
}
.tab-content:target {
  display: block;
}
/*
#menu{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}*/